sphinx
sphinx-book-theme
sphinx_rtd_theme
passthrough
docutils
docutils_html5_writer
pybtex
setuptools
sphinxcontrib-bibtex
myst_parser
sphinxcontrib.apa
sphinx_opensearch
sphinx-design
sphinx-sitemap
readthedocs-sphinx-search
opensearch-py
sphinxcontrib.datatemplates
sphinx-hoverxref
sphinxcontrib-youtube
furo
