sphinx
sphinx-book-theme
sphinx_rtd_theme
docutils
pybtex
setuptools
sphinxcontrib-bibtex
myst_parser
sphinxcontrib.apa
sphinx_opensearch
sphinx-design
sphinx-sitemap
readthedocs-sphinx-search
opensearch-py
sphinxcontrib.datatemplates
sphinx-hoverxref
sphinxcontrib-youtube
furo
lumache==0.1.0 requests==2.25.1 beautifulsoup4==4.9.3
